<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="ERROR" name="samurai config">
    <Properties>
        <Property name="LOG_DIR">/var/log/samurai</Property>
        <Property name="ARCHIVE">${LOG_DIR}/archive</Property>
        <Property name="PATTERN">%-5level %d [%t] %c:%M(%L): %m%n</Property>
    </Properties>
    <Appenders>
        <Console name="STDOUT" target="SYSTEM_OUT">
            <PatternLayout pattern="${PATTERN}"/>
        </Console>

		<RollingFile name="fileWriter" fileName="${LOG_DIR}/samurai.log"
			filePattern="${ARCHIVE}/samurai.log.%d{yyyy-MM-dd}.gz">
            <PatternLayout pattern="${PATTERN}"/>
            <TimeBasedTriggeringPolicy />
        </RollingFile>
    </Appenders>
    <Loggers>
        <Root level="INFO">
            <AppenderRef ref="STDOUT"/>
            <AppenderRef ref="fileWriter"/>
        </Root>
    </Loggers>
</Configuration>